body {font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1 {
    font-size: 50px;
    
}
.flexible-continer {
    display: flex;
    margin: 150px;
}
.rong {
    color: rgb(203, 4, 221);
}
.flexible-continer {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}
.half-width img {
    width: 80%;
    
}
.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 255, 157) , green);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}
.top-banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-bg {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    }
    .orange {
        color: darkred;
    }
    .area {
        background-image: url(image/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    .relation {
        width: 40%;
        margin-left: 6%;
        margin-right: 6%;
        padding-left: 10px;
        box-shadow: 10px 10px 40px yellowgreen;
        border-left: 7px solid rgb(236, 91, 7);
       
    }
    #tibe {
        border-left: 7px solid blue;
    }
    #shomrat {
        border-left: 7px solid slateblue;
    }
    footer {
        text-align: center;

    }